@media screen and (max-width: 769px) {
    .slider-item_content h2 {
        font-size: 40px;
    }

    .slider-item_content p {
        font-size: 18px;
        margin-top: 15px;
        width: 60%;
        line-height: 20px;
    }

    .slider-item_content a {
        margin-top: 30px;
    }

    .welcome {
        flex-wrap: wrap;
    }

    .welcome img {
        display: none;
    }

    .history-content_left {
        margin-right: 20px;
    }

    .history-content p {
        margin-top: 0;
    }

    .about-content_img {
        max-height: 130px;
    }

    .sale-content_img {
        min-width: 270px;
        max-height: 200px;
        margin-right: 0;
    }

    .name {
        font-size: 20px;
        margin-bottom: 0;
    }

    .params {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 20px;
    }

    .price {
        margin-bottom: 10px;
    }

    .price img {
        width: 20px;
    }

    .price span {
        font-size: 18px;
    }

    .horse-point img {
        width: 20px;
    }

    .horse-point span {
        font-size: 18px;
    }

    .sale-content_body {
        padding: 10px;
    }

    .excursion-item_text {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 24px;
    }

    .excursion-item_images {
        width: 230px;
        height: 230px;
    }

    .excursion-item.type1 .excursion-item_left {
        margin-right: 20px;
    }

    .gallery-item {
        height: 170px;
    }
} 


@media screen and (max-width: 660px) {
    .menu-mobile {
        display: block;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 15px;
        z-index: 20;
        background: #fff;
    }

    .menu {
        display: block;
    }

    .menu-item a {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .close-menu {
        display: block;
    }

    .header-menu {
        padding: 20px 0;
    }

    .point {
        display: none;
    }

    .contacts-right {
        display: none;
    }

    .slider-item_content {
        padding: 15px 20px;
    }

    .slider-item_content h2 {
        font-size: 25px;
    }

    .slider-item_content p {
        font-size: 15px;
        margin-top: 10px;
        width: 90%;
        line-height: 18px;
    }

    .slider-item_content a {
        font-size: 12px;
        margin: 15px auto 0;
        display: block;
        width: 130px;
        padding: 15px;
    }
    
    .welcome-right {
        width: 100%;
        max-width: 100%;
        padding: 30px 0;
        margin-left: 0;
    }

    .welcome-right h2 {
        font-size: 30px;
    }

    .welcome-right h4 {
        font-size: 20px;
        line-height: 20px;
        margin-top: 10px;
    }

    .welcome-right p {
        margin-top: 15px;
    }

    .welcome-right a {
        font-size: 12px;
        margin-top: 20px;
    }

    .main-slider .owl-nav {
        top: 35%;
    }

    .history-content {
        display: block;
    }

    .history-content_left {
        margin-right: 0;
    }

    .history-content_right img {
        width: 100%;
    }

    .about-content_images {
        flex-wrap: wrap;
    }

    .about-content_img {
        width: 48%;
        margin-bottom: 20px;
    }

    .sale-content_item {
        display: block;
        max-height: 100%;
    }

    .sale-content_body {
        display: block;
    }

    .sale-content_right {
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-top: 20px;
    }

    .price {
        margin-right: 15px;
        margin-bottom: 0;
    }

    .horse-point span {
        font-size: 16px;
    }

    .history h2 span {
        line-height: 40px;
    }

    .excursion-item {
        flex-wrap: wrap;
    }

    .excursion-list {
        margin-top: 0;
    }

    .excursion-item.type1 .excursion-item_left {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .excursion-item.type1 .excursion-item_right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .excursion-item.type2 .excursion-item_left {
        margin-right: 0;
        width: 100%;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .gallery-item {
        width: 48%;
        height: 140px;
    }
} 

@media screen and (max-width: 380px) {
    .about-content_img {
        width: 100%;
    }

    .sale-content_right {
        display: block;
    }

    .price {
        margin-bottom: 10px;
    }

    .price img {
        margin-left: 0;
        margin-right: 10px;
    }

    .horse-point img {
        margin-left: 0;
    }
}

@media screen and (max-width: 321px) {
    .slider-item_content h2 {
        font-size: 18px;
    }

    .slider-item_content p {
        font-size: 14px;
        margin-top: 5px;
        width: 100%;
        line-height: 18px;
    }

    .slider-item_content a {
        font-size: 12px;
        margin: 5px auto 0;
        padding: 5px;
    }

    .welcome-right h2 {
        font-size: 25px;
    }

    .welcome-right h4 {
        font-size: 18px;
    }

    .welcome-right p {
        font-size: 14px;
    }

    .history-content p {
        font-size: 14px;
    }

    .history h2 {
        font-size: 18px;
    }

    .gallery-item {
        height: 130px;
    }
}